[Desktop Entry]
Encoding=UTF-8
Name=Link to blob:https://web.whatsapp.com/4364cb9e-f7a4-48ef-8e1e-958d7cdd435f
Type=Link
URL=blob:https://web.whatsapp.com/4364cb9e-f7a4-48ef-8e1e-958d7cdd435f
Icon=text-html
