.background {
  background: 
    linear-gradient(
      rgba(140, 170, 231, 0.88),
      rgba(140, 170, 231, 0.88)
    ),

    url("marah.jpg");
}

.buttonlook {border-radius: 12px;}


.background::after {
    content: "";
    background: rgba(0, 255, 255, 0.3);
    position: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.background > * {
    z-index: 10];
}