<!DOCTYPE html>
<html>
<head>
	<title>become an advertiser</title>
</head>
<body>
<h1>become an advertiser</h1>
<form action = "/become_advertiser" method = "post">



<span>company name</span>
<br>
<input type = "text" name = "company_name" placeholder="company name...">
<br>
<span>some info</span>
<br>
<textarea name = "info" placeholder="your info..."></textarea>
<br>
<span>link to your website</span>
<br>
<input type = "text" name = "link" placeholder="link...">
<br>
<input type = "submit" value = "go public!">


</form>
</body>
</html>