<html>
<head>
</head>
<body>
<h1>Chatroom List</h1>

This page will contain a list of the chatrooms that are available in the moment. For example:

<h2>Available chatrooms:</h2>
<ul>
	{%for chat in chats%}
  <li><a href = "{{url_for('chatroom', name = chat.name)}}">{{chat.name}}</a></li>
  {%endfor%}
</ul>

<br/><br/>

<h2>Create a chatroom!</h2><br>

<form action="/chatlist" method = 'post'>
  Chatroom name:<br><br>
  <input type="text" name="name">
  <br>
  <input type="submit" value="Create">
</form> 



</body>
</html>