<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='noor.css') }}">

	          <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="background">
<h1>Chatroom Page</h1>
	<nav class="navbar navbar-expand-sm bg navbar">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    {%if usertype == teacher%}
    <li class="nav-item">
      <a class="h" href="{{url_for('create_quiz')}}">create a quiz</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('upload_course')}}">upload a course</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('feed')}}">advertize yourself</a>
    </li>
    {%endif%}
  </ul>
  <ul class="navbar-nav">
  {%if usertype == teacher%}
    <li class="nav-item">
      <a class="h" href = "{{url_for('all_teachers')}}">find your teacher</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('feed')}}">feed</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('quizes')}}">find fun quizes</a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="h" href = "{{url_for('my_profile')}}">my profile</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('chatlist')}}">chat rooms</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('contact_us')}}">contact us</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('logout')}}">log out</a>
    </li>
  </ul> 
</nav>
<br>
<br/>

	{%for m in messages%}

	<span>{{m.sender}}[{{m.time}}]: {{m.message}}</span>
	<br>
	{%endfor%}

<br/><br/>
<form action="/chatroom/{{name}}" method = "post" name = "myform">
<input type="text" name="message"><br/><br/>
<input type="submit" value="Send">
</form>
<a href = "{{url_for('chatlist')}}">back to chat list</a>
<meta http-equiv="refresh" content="20; URL=http://127.0.0.1/chatroom/{{name}}">
<script>
	setTimeout(function(){
	   window.location.reload(1);
	}, 20000);
</script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script>
function saveData() {

var formData = document.forms["myform"]["message"].value;

document.cookie = "formdata=" + formData;

}

function retrieveData() {

var formDataCookie = document.cookie;

// formDataCookie needs to be parsed to extract the values required

}
</script>

</body>
</html>
