<html>
<head>



</head>


<body>



<h1>create a quiz</h1>

<form action = "/create_quiz" method = "post">

<span>language</span>
<br>
<input type = "text" name = "language">
<br>
<span>subject</span>
<br>
<input type = "text" name = "subject">
<br>
<span>first question</span>
<br>
<input type = "text" name = "firstquestion">
<br>
<span>first answer</span>
<br>
<input type = "text" name = "firstanswer">
<br>
<span>second question</span>
<br>
<input type = "text" name = "secondquestion">
<br>
<span>second answer</span>
<br>
<input type = "text" name = "secondanswer">
<br>
<span>third question</span>
<br>
<input type = "text" name = "thirdquestion">
<br>
<span>third answer</span>
<br>
<input type = "text" name = "thirdanswer">
<br>

<input type = "submit" value = "create a quiz!">











</form>

<br>
<a href = "{{url_for('home')}}">back home</a>














</body>
</html>