<!doctype html>
<html>
<head>
        <title>LFT</title>   


    </head>
    <body>

        
           
           
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="User Name" >
                    <br>
                    <br>
                    <input type="password" name="password" placeholder="Password" >
                    <br>
                    <input type="email" name="email" placeholder="your email here">
                    <br>
                    <span>{{msg}}</span>
                    <input type="submit" value="login" >
                </form>

                <form action="/action_page.php" method="get">
                    <input type="checkbox" name="teacher" value="student"> student <br>
                    <input type="checkbox" name="student" value="teacher" checked> teacher<br>
                    <input type="submit" value="Submit">
                </form>
                    
                
          

    </body>
</html>