<!doctype html>
<html>
<head>
        <title>LFT</title>   


    </head>
    <body>

        
           
           
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="User Name" >
                    <br>
                    <br>
                    <input type="password" name="password" placeholder="Password" >
                    <br>
                    

                    <input type="radio" name="user" value="student"> student <br>
                    <input type="radio" name="user" value="teacher"> teacher<br>
                    <br>
                    <span>{{msg}}</span>
                    <input type="submit" value="login" >
                </form>

                    
                <span>you don't have an account?
                <br>
                click here to sign up as a <a href = "{{url_for('register_student')}}">student</a>,
                <br>
                and here to sign up as a <a href = "{{url_for('register_teacher')}}">teacher</a></span>
                
          

    </body>
</html>