<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='noor.css') }}">
	<title>notify your students</title>
</head>
<body class="background">
<form action = '/notify' method = 'post'>
<span>what chat room will you use?</span>
<br>
<input type = "text" name = "chat_name" placeholder="chatroom name">
<br>
<span>what time will the group chat be</span>
<br>
<input type = "text" name = "time" placeholder="day, hour and minutes">
<br>
<span>what topic will it be?</span>
<br>
<input type = "text" name = "topic" placeholder="topic">
<br>
<input type = "submit" value = "notify!">






</form>
<br>
<a href = "{{url_for('my_profile')}}">go back to profile</a>
</body>
</html>
