<html>
<head>







</head>


<body>





<h1>{{teacher.firstname}} {{teacher.lastname}}'s profile</h1>

<h2>amount of courses: {{teacher.courses}}</h2>
<h2>amount of buyers: {{teacher.buyers}}</h2>
<h2>email: {{teacher.email}}</h2>
<h2>posts</h2>
<hr>
{%for post in posts%}
<br>
<span>{{post.title}}</span>
<br>
<span>{{post.content}}</span>
<br>
<video width="400" controls>
  <source src="{{post.video}}" type="video/mp4">
</video>






{%endfor%}
<h2>courses:</h2>
<hr>
{%for course in courses%}

{%if course not in acourses%}
<br>
<h3><b>title: {{course.title}}</b></h3>
<span>language: {{course.language}}</span>
<br>
<span>topic: {{course.topic}}</span>
<br>
<span>purchases: {{course.buyers}}</span>
<br>
<span>trailer:</span>
<br>
<video width="400" controls>
  <source src="{{course.trailer}}" type="video/mp4">
</video>
<br>
<a href = "{{url_for('purchased', ids = course.id)}}">buy this course</a>




{%endif%}
{%if course in acourses%}


<br>
<h3><b>title: {{course.title}}</b></h3>
<span>language: {{course.language}}</span>
<br>
<span>topic: {{course.topic}}</span>




{%endif%}
{%endfor%}
<h2>bought courses:</h2>
<hr>
{%for course in acourses%}
<h3><a href = "{{url_for('courses', ids = course.id)}}"><b>title: {{course.title}}</b></a></h3>




	




{%endfor%}










<a href = "{{url_for('home')}}">back home</a>












</body>
</html>