<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='noor.css') }}">

            <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <title>{{quiz.topic}} quiz</title>

</head>
<body class="background">
  <style >
    .note{
      background: 
      url("/static/quiz_note.jpg");
    }
    html{ overflow:auto; }
  </style>

<nav class="navbar navbar-expand-sm bg navbar">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    {%if usertype == teacher%}
    <li class="nav-item">
      <a class="h" href="{{url_for('create_quiz')}}">create a quiz</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('upload_course')}}">upload a course</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('feed')}}">advertize yourself</a>
    </li>
    {%endif%}
  </ul>
  <ul class="navbar-nav">
  {%if usertype == teacher%}
    <li class="nav-item">
      <a class="h" href = "{{url_for('all_teachers')}}">find your teacher</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('feed')}}">feed</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('quizes')}}">find fun quizes</a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="h" href = "{{url_for('my_profile')}}">my profile</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('chatlist')}}">chat rooms</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('contact_us')}}">contact us</a>
    </li>
    <li class="nav-item">
      <a class="h" href = "{{url_for('logout')}}">log out</a>
    </li>
  </ul> 
</nav>
<br>
<div class="note" 
  style="background-position: center;
  background-size: 670px 600px; width: 50%;">

  <form style="text-align: center;" action = "/quiz/{{quiz.id}}" method = "post">
    <img style="bottom: 40%;" src="/static/quiz.jpeg" alt="quiz" class="img">
  
    <h1>{{quiz.language}} quiz!</h1>
    <br>
    <span>first question: {{quiz.firstquestion}}</<span>
    <br>
    <input type = "text" name = "firstAnswer">
    <br>
    <span>second question: {{quiz.secondquestion}}</span>
    <br>
    <input type = "text" name = "secondAnswer">
    <br>
    <span>third question: {{quiz.thirdquestion}}</span>
    <br>
    <input type = "text" name = "thirdAnswer">
    <br>
    <input type = "submit" value = "submit">

  </form>
  <br>
  <span>{{msg}}</span>
  <br>
  <a href = "{{url_for('home')}}">back home!</a>
</div>




</body>
</html>
