
<!doctype html>
<html>
<head>
        <title>LFT</title>   


    </head>
    <body>

        
           
           
                <form action="/register_teacher" method="post">
                    <input type="text" name="username" placeholder="User Name" >
                    <br>
                    <input type="password" name="password" placeholder="Password" >
                    <br>
                    
                    <input type="text" name="firstname" placeholder="first name" >
                    <br>
                    <input type="text" name="lastname" placeholder="last name" >
                    <br>
                    <input type="text" name="credit_num" placeholder="credit card number" >
                    <br>
                    <input type="text" name="credit_date" placeholder="credit card date" >
                    <br>
                    <input type="text" name="credit_code" placeholder="credit card secret number" >
                    <br>
                    <input type="email" name="email" placeholder="your email here">
                    <br>
                    <span>{{msg}}</span>
                    <br>
                    <input type="submit" value="Signup" >
                    
                </form>
          

    </body>
</html>
