
<!doctype html>
<html>
<head>
        <title>LFT</title>   


    </head>
    <body>

        
           
           
                <form action="/register_student" method="post">
                    <input type="text" name="username" placeholder="User Name" >
                    <br>
                    <br>
                    <input type="password" name="password" placeholder="Password" >
                    <br>
                    <input type="email" name="email" placeholder="your email here">

                    <br>
                    <span>{{msg}}</span>
                    <br>
                    <input type="submit" value="Signup" >

                </form>
          <span>you already have an account? 
          <br>
          click <a href = "{{url_for('login')}}">here</a> to log in
          </span>

    </body>
</html>