<html>
<head>
</head>
<body>
<form action = '/upload_course' method = "post" enctype="multipart/form-data">
<span>title</span>
<br>
<input type = "text" name = "title" placeholder="your title here...">
<br>
<span>language</span>
<br>
<input type = "text" name = "language" placeholder="your content here...">
<br>
<span>topic</span>
<br>	
<input type = "text" name = "topic" placeholder="your content here...">
<br>
<span>course level</span>
<br>	
<input type = "text" name = "level" placeholder="level(from 1 - 5)">
<br>
<span>upload a trailer</span>
<br>
<input type = "file" name = "trailer">
<br>
<span>upload a lecture</span>
<br>
<input type="file" name="file1">
<br>
<span>upload a second lecture</span>
<br>
<input type="file" name="file2">
<br>
<span>upload a third lecture</span>
<br>
<input type="file" name="file3">
<br>
<span>upload a fourth lecture</span>
<br>
<input type="file" name="file4">
<br>
<span>upload a fifth lecture</span>
<br>
<input type="file" name="file5">
<br>
<input type = "submit" value = "post!">
</form>
<br>
<span>{{msg}}</span>
</body>
</html>